body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: auto;
    padding-top: 80px;
}

/* Menú de navegación */
.headerMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(10, 27, 114, 0.8);
    padding: 16px;
    text-align: center;
}

.menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu ul li {
    display: inline-block;
    margin: 0 15px;
}

.menu ul li a img {
    width: 40px;
    height: auto;
}

.contacto {
    background-color: navy;
    color: white;
    width: 50%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.contacto h2 {
    margin-bottom: 20px;
}

.contacto input, .contacto select {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.contacto input[type="submit"] {
    background-color: #16254C;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.contacto input[type="submit"]:hover {
    background-color: #0b1940;
}

footer {
    background-color: #16254C;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

footer img {
    width: 30px;
    margin: 0 10px;
}
